<div class="api-selector-container">
	<h3>{{ 'API_SELECTOR_TITLE' | translate }}</h3>

	<div class="form-group">
		<label for="api-select">{{ 'SELECT_API' | translate }}</label>
		<select
			(change)="onApiChange()"
			[(ngModel)]="selectedApi"
			[attr.aria-label]="'SELECT_API' | translate"
			id="api-select">
			<option *ngFor="let api of apis" [value]="api.api">{{ api.name }}</option>
		</select>
	</div>

	<div *ngIf="selectedApi !== 'google-free'" class="form-group">
		<label for="api-key">{{ 'API_KEY' | translate }}</label>
		<div class="input-container">
			<input
				[(ngModel)]="apiKey"
				(input)="onApiKeyChange()"
				[attr.aria-label]="'API_KEY' | translate"
				[attr.placeholder]="'ENTER_API_KEY' | translate"
				id="api-key"
				type="text">
		</div>
	</div>

	<div class="form-group">
		<label for="language-select">{{ 'TARGET_LANGUAGE' | translate }}</label>
		<select
			[(ngModel)]="selectedLanguage"
			(change)="onSubmit()"
			[attr.aria-label]="'TARGET_LANGUAGE' | translate"
			[disabled]="isLoading"
			id="language-select">
			<option *ngFor="let lang of availableLanguages" [value]="lang.code">{{ lang.name }}</option>
		</select>

		<span class="default-language-message">
      {{ 'DEFAULT_LANGUAGE_MESSAGE' | translate }} {{ languageLocalizationService.getLanguageName(currentPageLanguage) }}
    </span>

		<div *ngIf="isLoading" class="loading-indicator">
			<output>{{ 'LOADING_LANGUAGES' | translate }}</output>
		</div>

		<div *ngIf="errorMessage" class="error-message" role="alert">
			{{ errorMessage }}
		</div>
	</div>

</div>
