@use '../../../../styles/variables';

.api-selector-container {
	background-color: variables.$text-color-lighter;
	border-radius: variables.$border-radius-lg;
	padding: variables.$spacing-xxxl;
	margin-bottom: variables.$spacing-xxxl;
	box-shadow: variables.$box-shadow-sm;

	h3 {
		margin-top: 0;
		margin-bottom: variables.$spacing-xxxl;
		color: variables.$text-color;
	}
}

.form-group {
	margin-bottom: variables.$spacing-xl;

	label {
		display: block;
		margin-bottom: variables.$spacing-xs;
		font-weight: bold;
		color: variables.$text-color-light;
	}

	select,
	input {
		width: 100%;
		padding: variables.$spacing-md variables.$spacing-xl;
		border: variables.$border-width-md solid variables.$text-color-light;
		border-radius: variables.$border-radius-md;
		font-size: variables.$base-font-size;

		&:focus {
			outline: none;
			border-color: variables.$primary-color;
			box-shadow: 0 0 0 variables.$spacing-xs rgba(variables.$primary-color, 0.25);
		}
	}
}

.input-with-button,
.input-container {
	display: flex;
	gap: variables.$spacing-xl;

	input {
		flex: 1;
	}
}

.fetch-button,
.submit-button {
	@include variables.bootstrap-button;
}

.submit-button {
	margin-top: variables.$spacing-xl;
	width: 100%;
	padding: variables.$spacing-xl;
}

.default-language-message {
	display: block;
	margin-top: variables.$spacing-xs;
	font-size: variables.$extra-small-font-size;
	color: variables.$text-color-light;
	font-style: italic;
}

.loading-indicator {
	margin-top: variables.$spacing-xl;
	color: variables.$primary-color;
	font-style: italic;
}

.error-message {
	@include variables.error-message;
	background-color: rgba(variables.$error-color, 0.1);
	border-color: variables.$error-color;
	color: variables.$error-color;
}
