@use '../../../../styles/variables';

:host {
	display: block;
}

.extracted-lines-info {
	@include variables.card;
}

.extracted-header {
	font-weight: bold;
	margin-bottom: variables.$spacing-md;
	color: variables.$text-color;
}

.extracted-details {
	display: flex;
	flex-direction: column;
	gap: variables.$spacing-md;
}

.limit-warning {
	@include variables.error-message;
	color: variables.$error-color;
	background-color: rgba(variables.$error-color, 0.1);
	border-color: variables.$error-color;
	margin-top: variables.$spacing-md;
	font-weight: bold;
}

.limit-details {
	margin-top: variables.$spacing-xs;
	font-size: variables.$base-font-size;
	padding: variables.$spacing-xs;
	background-color: rgba(variables.$error-color, 0.2);
	border-radius: variables.$border-radius-md;
	border-left: variables.$border-width-xl solid variables.$error-color;
}
