@use '../../../../styles/variables';

.language-selector {
	position: absolute;
	top: variables.$spacing-md;
	right: variables.$spacing-xxxl;
	z-index: variables.$z-index-dropdown;

	select {
		padding: variables.$spacing-xs variables.$spacing-xl;
		border-radius: variables.$border-radius-md;
		border: variables.$border-width-md solid variables.$text-color-light;
		background-color: variables.$secondary-color;
		cursor: pointer;
	}
}
