@use "sass:color";
@use '../../../../styles/variables';

.drag-drop-area {
	border: variables.$border-width-md dashed variables.$text-color-light;
	border-radius: variables.$border-radius-lg;
	padding: variables.$large-padding;
	text-align: center;
	margin-bottom: variables.$spacing-xxxl;
	transition: all variables.$transition-speed ease;
	background-color: variables.$text-color-lighter;
	cursor: pointer;

	&.active {
		border-color: variables.$primary-color;
		background-color: rgba(variables.$primary-color, 0.1);
	}

	h3 {
		margin: 0 0 variables.$spacing-xl;
		color: variables.$text-color;
		font-size: variables.$heading-font-size-lg;
	}

	p {
		margin: variables.$spacing-xl 0;
		color: variables.$text-color-light;
	}
}

.drag-drop-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.icon {
	img {
		margin-bottom: variables.$spacing-xl;
		opacity: variables.$opacity-faded;
	}

	.drag-drop-area.active & img {
		opacity: variables.$opacity-full;
	}
}

.browse-button {
	@include variables.button-base;
	background-color: variables.$primary-color;
	color: variables.$secondary-color;
	padding: variables.$spacing-xl variables.$spacing-xxxl;
	font-size: variables.$base-font-size;
	margin-top: variables.$spacing-xl;

	&:hover {
		background-color: color.adjust(variables.$primary-color, $lightness: -10%);
	}
}

.file-type-info {
	font-style: italic;
	color: variables.$text-color-light;
	font-size: variables.$base-font-size;
	margin: variables.$spacing-xs 0 variables.$spacing-xl;
}

.error-message {
	@include variables.error-message;
	width: 100%;
	max-width: variables.$error-message-max-width;
	text-align: center;
	font-weight: bold;
}

.hidden {
	display: none;
}
