@use '../../../../styles/variables';

.form-group {
	margin-bottom: variables.$spacing-xl;

	label {
		display: block;
		margin-bottom: variables.$spacing-xs;
		font-weight: bold;
		color: variables.$text-color-light;
	}

	select {
		width: 100%;
		padding: variables.$spacing-md variables.$spacing-xl;
		border: variables.$border-width-md solid variables.$text-color-light;
		border-radius: variables.$border-radius-md;
		font-size: variables.$base-font-size;

		&:focus {
			outline: none;
			border-color: variables.$primary-color;
			box-shadow: 0 0 0 variables.$spacing-xs rgba(variables.$primary-color, 0.25);
		}
	}
}
