@use '../../../../styles/variables';

.file-content-container {
	border: variables.$border-width-md solid variables.$text-color-light;
	border-radius: variables.$border-radius-lg;
	overflow: hidden;
	margin-top: variables.$spacing-xxxl;
	box-shadow: variables.$box-shadow-sm;
}

.file-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: variables.$spacing-xl;
	background-color: variables.$text-color-lighter;
	cursor: pointer;
	width: 100%;
	text-align: left;
	border: none;
	border-bottom: variables.$border-width-md solid variables.$text-color-light;
	font: inherit;
	outline: none;

	h3 {
		margin: 0;
		font-size: variables.$heading-font-size-lg;
		color: variables.$text-color;
	}
}

.collapse-icon {
	font-size: variables.$heading-font-size-lg;
	color: variables.$text-color;
}

.file-content {
	padding: variables.$spacing-xl;
	max-height: variables.$file-content-max-height;
	overflow-y: auto;
	transition: max-height variables.$transition-speed ease;
	background-color: variables.$text-color-lighter;

	&.collapsed {
		max-height: 0;
		padding: 0 variables.$spacing-xl;
		overflow: hidden;
	}
}

pre {
	margin: 0;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-size: variables.$base-font-size;
	line-height: variables.$base-line-height;
	color: variables.$text-color;
}
