@use 'styles/variables';

/* You can add global styles to this file, and also import other style files */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: variables.$base-font-family;
	line-height: variables.$base-line-height;
	color: variables.$text-color;
	background-color: variables.$secondary-color;
	padding: variables.$spacing-xxxl;
}

html, body {
	height: 100%;
}
